@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'TBCContractica';
    src:  url('../font/TBCContractica-Regular.ttf')
}

@layer base {

    p,h1,h2,h3,h4,h5,h6,a{
        font-family: 'TBCContractica';
    }
}

.active-btn {
    background-color: white;
    color: #292D33;
}