@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'TBCContractica';
    src:  url('../font/TBCContractica-Regular.ttf')
}

@layer base {

    p,h1,h2,h3,h4,h5,h6,a{
        font-family: 'TBCContractica';
    }
}
h1,h2,h3 {
    font-size: 1.5rem;
    font-weight: bolder;
    text-transform: capitalize;
    color: #292D33;
}
